<div class="hero-carousel carousel-loaded">
   <div class="hero-carousel__slider slick-initialized slick-slider">
  <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1424px;"><div class="hero-carousel__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1424px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
  
  
    
    <div class="hero-carousel__item -image" data-value="img">
      <div class="hero-carousel__img pic" style="background:url('../assets/images/MGate-G2_KV_1920x550-890d129f1d.jpg') center center/ cover no-repeat;"> 
        <div class="container">
          <div class="hero-carousel__container">
            <h2 class="hero-carousel__heading"><b>Robust Security, Effortless Management</b></h2>
            <p class="hero-carousel__paragraph">Easy and secure protocol conversion for modern OT networks</p>
            
            
              <a class="border-btn border-btn--l border-btn--white" href="https://www.moxa.com/en/spotlight/protocol-gateways/mgate-g2/index" tabindex="0">
                <span class="fill-btn__text">Learn More</span>                      
              </a>
                        
            
          </div>
        </div>
      </div>
    </div>
    
   
  
  
   
    
    
    
    
    
    
  </div></div></div>		

</div>
   <div class="hero-carousel__dots"></div>
   <button type="button" class="hero-carousel__btn hero-carousel__btn--prev slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
   <i class="hero-carousel__icon icon-arrow-left"></i>
   </button>
   <button type="button" class="hero-carousel__btn hero-carousel__btn--next slick-arrow slick-hidden" aria-disabled="true" tabindex="-1">
   <i class="hero-carousel__icon icon-arrow-right"></i>
   </button>
</div>
