<header class="print--display-none">
  <div class="container">
    <div class="header__top">
       <ul class="header__top-list">
<li class="header__top-item">
  <a href="/contact-us">Contact Us</a>
</li>
<li class="header__top-item">
  <a href="https://partnerzone.moxa.com/">Partner Zone</a>
</li>
<li class="header__top-item">
  <a href="/en/membership/my-account/profile/personal-info">My Moxa</a>
</li>

 </ul>

<div class="header__profile-link">
    <a id="p_lt_ctl02_MoxaSignOutButton_signInID" draggable="false" href="membership/sign-in">Sign In</a>
    
</div>

    </div>  
    <div class="header__main">
      <button class="header__mobile-menu" type="button"><i class="icon-hamburger"></i></button><a class="header__logo" href="/en">
  <img alt="Moxa" class="header__img" height="30" src="../assets/images/logo-be3ea21d15.svg" title="Moxa" width="25">
</a>
<ul class="header__list"><li class="header__item">
  
  
    <div class="header__link">Products</div>
   
  
     
  
  <div class="submenu">
    <div class="container">
      <div class="submenu__container">
        <div class="submenu__main">         
          <div class="submenu__block">
  <a href="/en/products/industrial-network-infrastructure">      
  <span class="submenu__subheading">Industrial Network Infrastructure</span>
  </a>      
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/ethernet-switches" target="" class="submenu__link">Ethernet Switches</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/secure-routers" target="" class="submenu__link">Secure Routers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/wireless-ap-bridge-client" target="" class="submenu__link">Wireless AP/Bridge/Client</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/cellular-gateways-routers-modems" target="" class="submenu__link">Cellular Gateways/Routers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/ethernet-media-converters" target="" class="submenu__link">Ethernet Media Converters</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/network-management-software" target="" class="submenu__link">Network Management Software</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/secure-remote-access" target="" class="submenu__link">Secure Remote Access</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-network-infrastructure/network-security-appliance" target="" class="submenu__link">Network Security Appliance</a>
  </li>


  </ul>
</div><div class="submenu__block">
  <a href="/en/products/industrial-edge-connectivity">      
  <span class="submenu__subheading">Industrial Edge Connectivity</span>
  </a>      
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/serial-device-servers" target="" class="submenu__link">Serial Device Servers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/serial-converters" target="" class="submenu__link">Serial Converters</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/protocol-gateways" target="" class="submenu__link">Protocol Gateways</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/usb-to-serial-converters-usb-hubs" target="" class="submenu__link">USB-to-Serial Converters/USB Hubs</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/multiport-serial-boards" target="" class="submenu__link">Multiport Serial Boards</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/controllers-and-ios" target="" class="submenu__link">Controllers &amp; I/Os</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/opc-ua-software" target="" class="submenu__link">OPC UA Software</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-edge-connectivity/ip-cameras-and-video-servers" target="" class="submenu__link">IP Cameras &amp; Video Servers</a>
  </li>


  </ul>
</div><div class="submenu__block">
  <a href="/en/products/industrial-computing">      
  <span class="submenu__subheading">Industrial <br>Computing</span>
  </a>      
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/products/industrial-computing/x86-computers" target="" class="submenu__link">x86 Computers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-computing/arm-based-computers" target="" class="submenu__link">Arm-Based Computers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-computing/panel-pcs" target="_self" class="submenu__link">Panel PCs</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-computing/iiot-gateways" target="_self" class="submenu__link">IIoT Gateways</a>
  </li>


  <li class="submenu__item">
    <a href="/en/products/industrial-computing/system-software" target="" class="submenu__link">System Software</a>
  </li>


  </ul>
</div>   
          
            <a class="arrow-btn arrow-btn--m arrow-btn--main submenu__arrow-btn" href="/en/products">
              <span class="arrow-btn__text">See all products</span>
              <i class="arrow-btn__icon icon-arrow-right"></i>
            </a>
          
        </div>        
                       
      </div>
    </div>
  </div>
</li>          <li class="header__item">
  
   
  
  <a href="/en/solutions" target="" class="header__link">Solutions</a>   
  
  <div class="submenu">
    <div class="container">
      <div class="submenu__container">
        <div class="submenu__main">         
          <div class="submenu__block">
        
  <span class="submenu__subheading">Industry Focus</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/solutions/manufacturing" target="" class="submenu__link">Manufacturing</a>
  </li>


  <li class="submenu__item">
    <a href="/en/solutions/rail" target="" class="submenu__link">Rail</a>
  </li>


  <li class="submenu__item">
    <a href="/en/solutions/power" target="" class="submenu__link">Power</a>
  </li>


  <li class="submenu__item">
    <a href="/en/solutions/oil-and-gas" target="" class="submenu__link">Oil &amp; Gas</a>
  </li>


  <li class="submenu__item">
    <a href="/en/solutions/marine" target="" class="submenu__link">Marine</a>
  </li>


  <li class="submenu__item">
    <a href="/en/solutions/intelligent-transportation" target="" class="submenu__link">Intelligent Transportation</a>
  </li>


  </ul>
</div><div class="submenu__block">
        
  <span class="submenu__subheading">Technology Focus</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="https://www.moxa.com/en/spotlight/portfolio/industrial-network-security/index.htm" target="_blank" class="submenu__link">Network Security &amp; Cybersecurity</a>
  </li>


  <li class="submenu__item">
    <a href="/en/technologies/tsn" target="_self" class="submenu__link">Time-sensitive Networking (TSN)</a>
  </li>


  <li class="submenu__item">
    <a href="/en/technologies/single-pair-ethernet" target="_self" class="submenu__link">Single-pair Ethernet (SPE)</a>
  </li>


  <li class="submenu__item">
    <a href="/en/technologies/ethernet-apl" target="_self" class="submenu__link">Ethernet-APL</a>
  </li>


  <li class="submenu__item">
    <a href="/en/technologies/private-5g-networks" target="_self" class="submenu__link">Private 5G Networks</a>
  </li>


  <li class="submenu__item">
    <a href="https://www.moxa.com/en/spotlight/corporate/connect-ot-data/index.htm" target="_blank" class="submenu__link">Harnessing OT Data</a>
  </li>


  <li class="submenu__item">
    <a href="https://www.moxa.com/en/spotlight/industrial-computing/solution-iiot/index.htm" target="_blank" class="submenu__link">IIoT</a>
  </li>


  </ul>
</div><div class="submenu__block">
  <span class="submenu__subheading">Don't Miss Out</span>
  <div class="header-card-wrap">
    <div class="header-card header-card--one-col header-card--carousel">
      <div data-header-card-carousel="" data-carousel-speed="2000" class="slick-initialized slick-slider" data-loaded=""><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1652px; transform: translate3d(-708px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 236px;"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/Artboard-ef448226e4.svg" alt="Unlock the Secrets of Your OT Data">
  <span class="header-card__heading">Unlock the Secrets of Your OT Data</span>
  <p class="header-card__paragraph">Learn how to unlock the secrets of your OT data to succeed with your industrial digital transformation.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="https://www.moxa.com/en/literature-library/ot-data-revolution" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 236px;" tabindex="-1"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/icon-bess-3c62b17d5d.svg" alt="Harness the Flow for Enduring BESS Solutions">
  <span class="header-card__heading">Harness the Flow for Enduring BESS Solutions</span>
  <p class="header-card__paragraph">Discover how BESS is driving the transition to a cleaner, more sustainable energy landscape.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="/en/spotlight/integrated-solutions/power/battery-energy-storage-system" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 236px;" tabindex="-1"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/cybersecurity-1fce9951ec.png" alt="Secure Your OT Networks">
  <span class="header-card__heading">Secure Your OT Networks</span>
  <p class="header-card__paragraph">Explore our article library for a wealth of expert advice on improving your industrial network security.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="https://www.moxa.com/en/articles?tag=cybersecurity" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 236px;"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/Artboard-ef448226e4.svg" alt="Unlock the Secrets of Your OT Data">
  <span class="header-card__heading">Unlock the Secrets of Your OT Data</span>
  <p class="header-card__paragraph">Learn how to unlock the secrets of your OT data to succeed with your industrial digital transformation.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="https://www.moxa.com/en/literature-library/ot-data-revolution" target="_blank" tabindex="0">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 236px;"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/icon-bess-3c62b17d5d.svg" alt="Harness the Flow for Enduring BESS Solutions">
  <span class="header-card__heading">Harness the Flow for Enduring BESS Solutions</span>
  <p class="header-card__paragraph">Discover how BESS is driving the transition to a cleaner, more sustainable energy landscape.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="/en/spotlight/integrated-solutions/power/battery-energy-storage-system" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" tabindex="-1" style="width: 236px;"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/cybersecurity-1fce9951ec.png" alt="Secure Your OT Networks">
  <span class="header-card__heading">Secure Your OT Networks</span>
  <p class="header-card__paragraph">Explore our article library for a wealth of expert advice on improving your industrial network security.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="https://www.moxa.com/en/articles?tag=cybersecurity" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" tabindex="-1" style="width: 236px;"><div><div class="header-card__inner" style="width: 100%; display: inline-block;">
  <img class="header-card__icon" src="../assets/images/Artboard-ef448226e4.svg" alt="Unlock the Secrets of Your OT Data">
  <span class="header-card__heading">Unlock the Secrets of Your OT Data</span>
  <p class="header-card__paragraph">Learn how to unlock the secrets of your OT data to succeed with your industrial digital transformation.</p>    
  <a class="arrow-btn arrow-btn--s arrow-btn--main" href="https://www.moxa.com/en/literature-library/ot-data-revolution" target="_blank" tabindex="-1">
    <span class="arrow-btn__text">Learn More</span>
    <i class="arrow-btn__icon icon-arrow-right"></i>
  </a>    
</div></div></div></div></div></div>
    </div>
  </div>
</div>   
          
        </div>        
                       
      </div>
    </div>
  </div>
</li>          <li class="header__item">
  
   
  
  <a href="/en/support" target="" class="header__link">Support</a>   
  
  <div class="submenu">
    <div class="container">
      <div class="submenu__container">
        <div class="submenu__main">         
          <div class="submenu__block">
        
  <span class="submenu__subheading">Product Support</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/support/product-support/software-and-documentation" target="" class="submenu__link">Software &amp; Documentation</a>
  </li>


  <li class="submenu__item">
    <a href="/en/support/product-support/product-faq" target="" class="submenu__link">Product FAQs</a>
  </li>


  <li class="submenu__item">
    <a href="/en/support/product-support/security-advisory" target="" class="submenu__link">Security Advisories</a>
  </li>


  <li class="submenu__item">
    <a href="https://license.moxa.com/" target="_blank" class="submenu__link">Software License Management</a>
  </li>


  <li class="submenu__item">
    <a href="/en/support/product-support/software-life-cycle-policy" target="_self" class="submenu__link">Software Life-cycle Policy</a>
  </li>


  </ul>
</div><div class="submenu__block">
        
  <span class="submenu__subheading">Repair &amp; Warranty</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/support/repair-and-warranty/product-repair-service" target="" class="submenu__link">Product Repair Service/RMA</a>
  </li>


  <li class="submenu__item">
    <a href="/en/support/repair-and-warranty/warranty-policy" target="" class="submenu__link">Warranty Policy</a>
  </li>


  </ul>
</div><div class="submenu__block">
        
  <span class="submenu__subheading">Resources</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/literature-library" target="" class="submenu__link">Literature Library</a>
  </li>


  <li class="submenu__item">
    <a href="/en/case-studies" target="" class="submenu__link">Case Studies</a>
  </li>


  <li class="submenu__item">
    <a href="/en/articles" target="" class="submenu__link">Article Library</a>
  </li>


  <li class="submenu__item">
    <a href="/en/videos" target="_self" class="submenu__link">Video Library</a>
  </li>


  </ul>
</div>   
          
        </div>        
        
          <div class="submenu__bottom">
            <p class="submenu__note">Still need assistance with your Moxa product?</p>            
            <a class="arrow-btn arrow-btn--s arrow-btn--main" href="/en/support/technical-support">
              <span class="arrow-btn__text">Contact Us</span>
              <i class="arrow-btn__icon icon-arrow-right"></i>
            </a>          
          </div>
                       
      </div>
    </div>
  </div>
</li>          <li class="header__item">
  
   
  
  <a href="/en/how-to-buy/find-a-distributor" target="" class="header__link">How to Buy</a>   
  
  <div class="submenu">
    <div class="container">
      <div class="submenu__container">
        <div class="submenu__main">         
          <span class="submenu__subheading">Get in Touch</span>
<ul class="submenu__list">
  
<li class="submenu__icon-item">
  <a class="submenu__link" href="/en/how-to-buy/find-a-distributor" target="">
    <img class="submenu__icon" src="../assets/images/distributor-0b00d5cba2.svg" alt="Find a Distributor" width="36" height="36">
    <span class="submenu__text">Find a Distributor </span>
  </a>
</li>
<li class="submenu__icon-item">
  <a class="submenu__link" href="/en/contact-us/contact-form" target="">
    <img class="submenu__icon" src="../assets/images/mail-a05984adf4.svg" alt="Email a Representative" width="36" height="36">
    <span class="submenu__text">Email a Representative </span>
  </a>
</li>
</ul>   
          
        </div>        
                       
      </div>
    </div>
  </div>
</li>          <li class="header__item">
  
   
  
  <a href="/en/about-us" target="" class="header__link">About Us</a>   
  
  <div class="submenu">
    <div class="container">
      <div class="submenu__container">
        <div class="submenu__main">         
          <div class="submenu__block">
        
  <span class="submenu__subheading">About Us</span>
        
  <ul class="submenu__list">
    
  <li class="submenu__item">
    <a href="/en/about-us/company-profile" target="" class="submenu__link">Company Profile</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/innovations-milestones" target="_self" class="submenu__link">Innovations and Milestones</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/transforming-with-customers" target="_self" class="submenu__link">Customer Success</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/sustainability" target="_self" class="submenu__link">Sustainability</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/policies" target="_self" class="submenu__link">Policies</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/core-values-code-of-conduct" target="_self" class="submenu__link">Core Values &amp; Code of Conduct</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/careers" target="" class="submenu__link">Careers</a>
  </li>


  <li class="submenu__item">
    <a href="/en/about-us/news-events" target="" class="submenu__link">News &amp; Events</a>
  </li>


  </ul>
</div><div class="submenu__block block--2">
  <span class="submenu__subheading">Get to Know Moxa</span>
  <div class="header-card-wrap">
    
  <div class="header-card">
    <img class="header-card__icon" src="../assets/images/green-core-31187c4b3c.svg" alt="Create Value That Lasts">
    <span class="header-card__heading">Create Value That Lasts</span>
    <p class="header-card__paragraph">We strive to implement environmental practices that have a positive impact.</p>    
    <a class="arrow-btn arrow-btn--s arrow-btn--main" href="/en/about-us/sustainability/hazardous-substance-policies" target="_self">
      <span class="arrow-btn__text">Learn More</span>
      <i class="arrow-btn__icon icon-arrow-right"></i>
    </a>    
  </div>
 
 

  <div class="header-card">
    <img class="header-card__icon" src="../assets/images/target-34f9f4b193.svg" alt="Convert Your Passion Into New Possibilities">
    <span class="header-card__heading">Convert Your Passion Into New Possibilities</span>
    <p class="header-card__paragraph">Bringing out the best in our people is how we grow and succeed together.</p>    
    <a class="arrow-btn arrow-btn--s arrow-btn--main" href="/en/about-us/careers" target="">
      <span class="arrow-btn__text">Learn More</span>
      <i class="arrow-btn__icon icon-arrow-right"></i>
    </a>    
  </div>
 
 

  </div>
</div>   
          
        </div>        
                       
      </div>
    </div>
  </div>
</li>          </ul>
<div class="mobile-nav">
  <ul class="mobile-nav__lv1">

  <li>  
    <div class="mobile-nav__list-wrap">
        
            <a class="mobile-nav__link" href="/en/products" target="">
                Products
            </a>
             
      
        <button type="button" class="mobile-nav__next">
            <i class="icon-arrow-right"></i>
            <span>Back</span>
        </button>
    </div>  
    <ul class="mobile-nav__lv2"><li>    
  <div class="mobile-nav__btn-wrapper"><a href="/en/products/industrial-network-infrastructure" class="mobile-nav__link"><span>Industrial Network Infrastructure</span></a><button type="button" class="mobile-nav__accordion mobile-nav__accordion--btn-only"><i class="icon-minus"></i></button></div>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/products/industrial-network-infrastructure/ethernet-switches" class="mobile-nav__link">Ethernet Switches</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/secure-routers" class="mobile-nav__link">Secure Routers</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/wireless-ap-bridge-client" class="mobile-nav__link">Wireless AP/Bridge/Client</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/cellular-gateways-routers-modems" class="mobile-nav__link">Cellular Gateways/Routers</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/ethernet-media-converters" class="mobile-nav__link">Ethernet Media Converters</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/network-management-software" class="mobile-nav__link">Network Management Software</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/secure-remote-access" class="mobile-nav__link">Secure Remote Access</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-network-infrastructure/network-security-appliance" class="mobile-nav__link">Network Security Appliance</a>
  </li>  
 
  </ul>
</li><li>    
  <div class="mobile-nav__btn-wrapper"><a href="/en/products/industrial-edge-connectivity" class="mobile-nav__link"><span>Industrial Edge Connectivity</span></a><button type="button" class="mobile-nav__accordion mobile-nav__accordion--btn-only"><i class="icon-minus"></i></button></div>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/products/industrial-edge-connectivity/serial-device-servers" class="mobile-nav__link">Serial Device Servers</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/serial-converters" class="mobile-nav__link">Serial Converters</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/protocol-gateways" class="mobile-nav__link">Protocol Gateways</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/usb-to-serial-converters-usb-hubs" class="mobile-nav__link">USB-to-Serial Converters/USB Hubs</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/multiport-serial-boards" class="mobile-nav__link">Multiport Serial Boards</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/controllers-and-ios" class="mobile-nav__link">Controllers &amp; I/Os</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/opc-ua-software" class="mobile-nav__link">OPC UA Software</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-edge-connectivity/ip-cameras-and-video-servers" class="mobile-nav__link">IP Cameras &amp; Video Servers</a>
  </li>  
 
  </ul>
</li><li>    
  <div class="mobile-nav__btn-wrapper"><a href="/en/products/industrial-computing" class="mobile-nav__link"><span>Industrial Computing</span></a><button type="button" class="mobile-nav__accordion mobile-nav__accordion--btn-only"><i class="icon-minus"></i></button></div>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/products/industrial-computing/x86-computers" class="mobile-nav__link">x86 Computers</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-computing/arm-based-computers" class="mobile-nav__link">Arm-Based Computers</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-computing/panel-pcs" class="mobile-nav__link">Panel PCs</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-computing/iiot-gateways" class="mobile-nav__link">IIoT Gateways</a>
  </li>  
 
  <li>
    <a href="/en/products/industrial-computing/system-software" class="mobile-nav__link">System Software</a>
  </li>  
 
  </ul>
</li></ul>  
  </li>
 
  <li>  
    <div class="mobile-nav__list-wrap">
        
            <a class="mobile-nav__link" href="/en/solutions" target="">
                Solutions
            </a>
             
      
        <button type="button" class="mobile-nav__next">
            <i class="icon-arrow-right"></i>
            <span>Back</span>
        </button>
    </div>  
    <ul class="mobile-nav__lv2"><li>    
  <button type="button" class="mobile-nav__accordion"><span>Industry Focus</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/solutions/manufacturing" class="mobile-nav__link">Manufacturing</a>
  </li>  
 
  <li>
    <a href="/en/solutions/rail" class="mobile-nav__link">Rail</a>
  </li>  
 
  <li>
    <a href="/en/solutions/power" class="mobile-nav__link">Power</a>
  </li>  
 
  <li>
    <a href="/en/solutions/oil-and-gas" class="mobile-nav__link">Oil &amp; Gas</a>
  </li>  
 
  <li>
    <a href="/en/solutions/marine" class="mobile-nav__link">Marine</a>
  </li>  
 
  <li>
    <a href="/en/solutions/intelligent-transportation" class="mobile-nav__link">Intelligent Transportation</a>
  </li>  
 
  </ul>
</li><li>    
  <button type="button" class="mobile-nav__accordion"><span>Technology Focus</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="https://www.moxa.com/en/spotlight/portfolio/industrial-network-security/index.htm" class="mobile-nav__link">Network Security &amp; Cybersecurity</a>
  </li>  
 
  <li>
    <a href="/en/technologies/tsn" class="mobile-nav__link">Time-sensitive Networking (TSN)</a>
  </li>  
 
  <li>
    <a href="/en/technologies/single-pair-ethernet" class="mobile-nav__link">Single-pair Ethernet (SPE)</a>
  </li>  
 
  <li>
    <a href="/en/technologies/ethernet-apl" class="mobile-nav__link">Ethernet-APL</a>
  </li>  
 
  <li>
    <a href="/en/technologies/private-5g-networks" class="mobile-nav__link">Private 5G Networks</a>
  </li>  
 
  <li>
    <a href="https://www.moxa.com/en/spotlight/corporate/connect-ot-data/index.htm" class="mobile-nav__link">Harnessing OT Data</a>
  </li>  
 
  <li>
    <a href="https://www.moxa.com/en/spotlight/industrial-computing/solution-iiot/index.htm" class="mobile-nav__link">IIoT</a>
  </li>  
 
  </ul>
</li><li>    
  <button type="button" class="mobile-nav__accordion"><span>Don't Miss Out</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/spotlight/integrated-solutions/power/battery-energy-storage-system" class="mobile-nav__link">Harness the Flow for Enduring BESS Solutions</a>
  </li>  
 
  <li>
    <a href="https://www.moxa.com/en/articles?tag=cybersecurity" class="mobile-nav__link">Secure Your OT Networks</a>
  </li>  
 
  <li>
    <a href="https://www.moxa.com/en/literature-library/ot-data-revolution" class="mobile-nav__link">Unlock the Secrets of Your OT Data</a>
  </li>  
 
  </ul>
</li></ul>  
  </li>
 
  <li>  
    <div class="mobile-nav__list-wrap">
        
            <a class="mobile-nav__link" href="/en/support" target="">
                Support
            </a>
             
      
        <button type="button" class="mobile-nav__next">
            <i class="icon-arrow-right"></i>
            <span>Back</span>
        </button>
    </div>  
    <ul class="mobile-nav__lv2"><li>    
  <button type="button" class="mobile-nav__accordion"><span>Product Support</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/support/product-support/software-and-documentation" class="mobile-nav__link">Software &amp; Documentation</a>
  </li>  
 
  <li>
    <a href="/en/support/product-support/product-faq" class="mobile-nav__link">Product FAQs</a>
  </li>  
 
  <li>
    <a href="/en/support/product-support/security-advisory" class="mobile-nav__link">Security Advisories</a>
  </li>  
 
  <li>
    <a href="https://license.moxa.com/" class="mobile-nav__link">Software License Management</a>
  </li>  
 
  <li>
    <a href="/en/support/product-support/software-life-cycle-policy" class="mobile-nav__link">Software Life-cycle Policy</a>
  </li>  
 
  </ul>
</li><li>    
  <button type="button" class="mobile-nav__accordion"><span>Repair &amp; Warranty</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/support/repair-and-warranty/product-repair-service" class="mobile-nav__link">Product Repair Service/RMA</a>
  </li>  
 
  <li>
    <a href="/en/support/repair-and-warranty/warranty-policy" class="mobile-nav__link">Warranty Policy</a>
  </li>  
 
  </ul>
</li><li>    
  <button type="button" class="mobile-nav__accordion"><span>Resources</span><i class="icon-minus"></i></button>
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/literature-library" class="mobile-nav__link">Literature Library</a>
  </li>  
 
  <li>
    <a href="/en/case-studies" class="mobile-nav__link">Case Studies</a>
  </li>  
 
  <li>
    <a href="/en/articles" class="mobile-nav__link">Article Library</a>
  </li>  
 
  <li>
    <a href="/en/videos" class="mobile-nav__link">Video Library</a>
  </li>  
 
  </ul>
</li></ul>  
  </li>
 
  <li>  
    <div class="mobile-nav__list-wrap">
        
            <a class="mobile-nav__link" href="/en/how-to-buy/find-a-distributor" target="">
                How to Buy
            </a>
             
      
        <button type="button" class="mobile-nav__next">
            <i class="icon-arrow-right"></i>
            <span>Back</span>
        </button>
    </div>  
    <ul class="mobile-nav__lv2"><li>    
  
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/how-to-buy/find-a-distributor" class="mobile-nav__link">Find a Distributor</a>
  </li>  
 
  <li>
    <a href="/en/contact-us/contact-form" class="mobile-nav__link">Email a Representative</a>
  </li>  
 
  </ul>
</li></ul>  
  </li>
 
  <li>  
    <div class="mobile-nav__list-wrap">
        
            <a class="mobile-nav__link" href="/en/about-us" target="">
                About Us
            </a>
             
      
        <button type="button" class="mobile-nav__next">
            <i class="icon-arrow-right"></i>
            <span>Back</span>
        </button>
    </div>  
    <ul class="mobile-nav__lv2"><li>    
  
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/about-us/company-profile" class="mobile-nav__link">Company Profile</a>
  </li>  
 
  <li>
    <a href="/en/about-us/innovations-milestones" class="mobile-nav__link">Innovations and Milestones</a>
  </li>  
 
  <li>
    <a href="/en/about-us/transforming-with-customers" class="mobile-nav__link">Customer Success</a>
  </li>  
 
  <li>
    <a href="/en/about-us/sustainability" class="mobile-nav__link">Sustainability</a>
  </li>  
 
  <li>
    <a href="/en/about-us/policies" class="mobile-nav__link">Policies</a>
  </li>  
 
  <li>
    <a href="/en/about-us/core-values-code-of-conduct" class="mobile-nav__link">Core Values &amp; Code of Conduct</a>
  </li>  
 
  <li>
    <a href="/en/about-us/careers" class="mobile-nav__link">Careers</a>
  </li>  
 
  <li>
    <a href="/en/about-us/news-events" class="mobile-nav__link">News &amp; Events</a>
  </li>  
 
  </ul>
</li><li>    
  
  
  <ul class="mobile-nav__lv3">
    
  <li>
    <a href="/en/about-us/sustainability/hazardous-substance-policies" class="mobile-nav__link">Create Value That Lasts</a>
  </li>  
 
  <li>
    <a href="/en/about-us/careers" class="mobile-nav__link">Convert Your Passion Into New Possibilities</a>
  </li>  
 
  </ul>
</li></ul>  
  </li>
 

<li>
  <a href="/contact-us" class="mobile-nav__link">Contact Us</a>
</li>
<li>
  <a href="https://partnerzone.moxa.com/" class="mobile-nav__link">Partner Zone</a>
</li>
<li>
  <a href="/en/membership/my-account/profile/personal-info" class="mobile-nav__link">My Moxa</a>
</li>

</ul>
</div>
  
  
  
  
  


<button class="header__search-trigger" type="button"><i class="header__search-icon icon-magnifier"></i></button>

<div id="p_lt_ctl03_MoxaSearch_pnlSearch" class="header__search">
	
    <i class="icon-magnifier"></i>
    <div class="search-input__line"></div>

    
    <input name="p$lt$ctl03$MoxaSearch$txtSearch" type="text" id="p_lt_ctl03_MoxaSearch_txtSearch" class="search-input" data-required="true" autocomplete="off" placeholder="Search moxa.com">

    <span id="p_lt_ctl03_MoxaSearch_rvTextIsRequired" style="display:none;"></span>
    <input type="submit" name="p$lt$ctl03$MoxaSearch$btnSearch" value="Search" id="p_lt_ctl03_MoxaSearch_btnSearch" style="display: none;">
    <div class="header__search-result-block column column--3" style="display: none;">
        <div class="loading-spinner">
            <span class="loading-spinner__spinner"></span>
        </div>
        <div class="column__item--2 flex-grow">
        </div>
        <div class="column__item header-card-container">
        </div>
    </div>

</div>

    </div>
  </div>  
</header>
